[submodule "gateway"]
	path = gateway
	url = https://github.com/sftCommunity/gateway_typezt.git
[submodule "auth-microservice"]
	path = auth-microservice
	url = https://github.com/sftCommunity/auth_typezt.git
